{%- style -%}
  {% render 'section-margin' %}
  {% render 'section-padding' %}
{%- endstyle -%}
{% if customer and section.settings.collection %}
  {{ 'b2b-quick-order-pad.css' | asset_url | stylesheet_tag }}
  <script>
    var json_data = {
      "meta": {
        "currency": "CAD"
      },
      "items": {
        {% for product in collections[section.settings.collection].products %}
          {% assign sku = product.variants.first.sku | upcase %}
          {% if sku == blank %}
            {% assign key = product.id %}
          {% else %}
            {% assign key = sku %}
          {% endif %}
          "{{ key }}": {
            "variant_id": {{ product.variants.first.id }},
            "title": {{ product.title | json }},
            "canada_qty": {{ product.metafields.custom.canada_qty | default: 0 }},
            "us_qty": {{ product.metafields.custom.us_qty | default: 0 }},
            "price": {{ product.price | money_without_currency | replace:',','' }}
            {% comment %} "aliases": [
              {% if product.metafields.custom.sku_aliases %}
                {% assign aliases = product.metafields.custom.sku_aliases | split: ',' %}
                {% for alias in aliases %}
                  {{ alias | strip | json }}
                  {% unless forloop.last %},{% endunless %}
                {% endfor %}
              {% endif %}
            ] {% endcomment %}
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      }
    };
    var default_qty = {{section.settings.default_qty | times: 1}};
    var title = "{{section.settings.title}}";
    var subheading = "{{ section.settings.subheading }}";
    var ShowSkuColumn = "{{section.settings.show_sku_item}}";
    var ShowTitleColumn = "{{section.settings.show_title}}";
    var ShowPriceColumn = "{{section.settings.show_price}}";
    var ShowAvailableColumn = "{{section.settings.show_available}}";
    var ShowStatusColumn = "{{section.settings.show_status}}";
  </script> 
  <script src="{{ 'b2b-quick-order-pad.js' | asset_url }}" defer="defer"></script>
  

  <div class="app app-wrapper color-{{ section.settings.color_scheme }}">
    <main class="container">
      <section class="card"><div id="quick-order-pad"></div></section>
      {% content_for 'blocks' %}
    </main>
  </div>
{% endif %}
  

{% schema %}
{
  "name": "Order Pad",
  "tag": "section",
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "class": "spaced-section",
  "settings": [
    {
			"type": "color_scheme",
			"id": "color_scheme",
			"default": "background-1",
			"label": "t:sections.all.color_scheme.label"
		},
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h3",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection",
      "info": "Select the collection to use for the order pad. This will be used to display the products in the order pad."
    },
    {
      "type": "text",
      "id": "default_qty",
      "label": "Default Quantity",
      "default": "1",
      "info": "Enter the default quantity for the order pad. This will be used if no quantity is provided for an item."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Quick Order Pad"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Paste or upload SKUs for bulk ordering. Press Cmd/Ctrl+Enter to parse."
    },
    {
      "type": "text",
      "id": "placeholder",
      "label": "Placeholder",
      "default": "07554,10\nEM-2001 5\nTB-9950"
    },
    {
      "type": "text",
      "id": "parse_btn_text",
      "label": "Parse Button Text",
      "default": "Add items to order"
    },
    {
      "type": "text",
      "id": "download_template_text",
      "label": "Download Template Text",
      "default": "Download Template"
    },
    {
      "type": "text",
      "id": "clear_btn_text",
      "label": "Clear Button Text",
      "default": "Clear All"
    },
    {
      "type": "text",
      "id": "add_all_btn_text",
      "label": "Add All Button Text",
      "default": "Add All to Cart"
    },
    {
      "type": "header",
      "content": "Show the Columns"
    },
    {
      "type": "checkbox",
      "id": "show_sku_item",
      "label": "Show Sku/item Column",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show Title Column",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show Price Column",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_available",
      "label": "Show Availibility Column",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_status",
      "label": "Show Status Column",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.section-margin.header.content"
    },
    {
      "type": "select",
      "id": "margin_top",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_top.label"
    },
    {
      "type": "select",
      "id": "margin_bottom",
      "options": [
        {
          "value": "no-indent",
          "label": "t:sections.all.section-margin.options__1.label"
        },
        {
          "value": "xs",
          "label": "t:sections.all.section-margin.options__2.label"
        },
        {
          "value": "s",
          "label": "t:sections.all.section-margin.options__3.label"
        },
        {
          "value": "m",
          "label": "t:sections.all.section-margin.options__4.label"
        },
        {
          "value": "l",
          "label": "t:sections.all.section-margin.options__5.label"
        },
        {
          "value": "xl",
          "label": "t:sections.all.section-margin.options__6.label"
        }
      ],
      "default": "no-indent",
      "label": "t:sections.all.section-margin.margin_bottom.label"
    }
  ],
  "presets": [
    {
      "name": "Order Pad"
    }
  ]
}
{% endschema %}